Source: libnymea-networkmanager
Section: utils
Priority: optional
Maintainer: nymea GmbH <developer@nymea.io>
Standards-Version: 4.7.2
Build-Depends: debhelper,
    dpkg-dev,
    pkg-config,
    qt6-base-dev,
    qt6-base-dev-tools,
    qt6-connectivity-dev,
    libbluetooth-dev


Package: libnymea-networkmanager
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
    ${misc:Depends},
Description: Qt based library for the network-manager DBus API.
  Qt based library for the network-manager DBus API.


Package: libnymea-networkmanager-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
    ${misc:Depends},
    pkg-config,
    libnymea-networkmanager (= ${binary:Version}),
Description: Qt based library for the network-manager DBus API - development files
  Development files for Qt based network-manager DBus API.
